$cols: 7;
$day: 100px;
$border: 1px;
$gap: 1px;
$paddingInline: 10px;
$bgDay: #eee;
$bgDayHover: #ffbfcb;
$borderColor: #000;
$fontFamily: Arial, sans-serif;
$fontSize: 30px;
$calendarWidth: ($cols * $day) + (($cols - 1) * $gap) + (2 * $paddingInline);
